.forgotPasswordContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description {
  color: #666;
  font-size: 0.875rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error {
  color: #ef4444;
  font-size: 0.875rem;
  text-align: center;
}

.success {
  color: #10b981;
  font-size: 0.875rem;
  text-align: center;
}

.submitButton {
  height: 32px;
  width: 100%;
  background-color: rgba(0, 149, 246, 1);
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #2563eb;
}

.divider {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #e5e7eb;
}

.dividerText {
  padding: 0 1rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.createAccount {
  text-align: center;
}

.createAccountLink {
  color: rgba(38, 38, 38, 1);
  font-weight: 600;
  text-decoration: none;
}

.createAccountLink:hover {
  text-decoration: underline;
}
.logo {
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1100;
  background-color: white;
}
.logo img {
  height: 50px;
  width: 200px;
}
@media (max-width: 450px) {
  .forgotPasswordContainer {
    width: 72%;
    border: none;
    background-color: transparent;
    padding: 0 20px;
  }

  .divider {
    margin: 0 -20px;
  }
}
