.authLayout {
  height: 600px;
}

.card {
  text-align: center;
  width: 100%;
  max-width: 300px;
  padding: 2rem;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 450px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.footer {
  width: 100%;
  max-width: 300px;
  padding: 2rem;
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footerText {
  color: #666;
}

.footerLink {
  color: rgba(38, 38, 38, 1);
  font-weight: 600;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}
